
<footer class="footer">
  <div class="container section-content text-center"><i class="icon logo-rrrody">Ride &lsquo;Round Rhody</i>
    <h3 class="title">Ride for LIFE!</h3><a href="http://www.lifecycleinc.org/rrr/" class="button"><span>Register Now</span></a><a href="http://lifecycleinc.org/donate" class="button"><span>Donate Now</span></a>
  </div>
  <div class="secondary-footer">
    <div class="pull-right">
      <h5 class="follow">Follow Us</h5>
      <ul class="social-links">
        <li><a href="https://www.facebook.com/events/427463430791502/" class="icon facebook social-item">Facebook</a></li>
        <li><a href="https://twitter.com/rrrhody" class="icon twitter social-item">Twitter</a></li>
        <li><a href="https://www.instagram.com/rideroundrhody/" class="icon instagram social-item">Instagram</a></li>
      </ul>
    </div>
    <div class="pull-left"><small class="copyright">&copy; 2016 Ride &lsquo;Round Rhody. All rights reserved. <a href="https://www.mojotech.com/">Made With Mojo</a></small></div>
  </div>
</footer>