
<header class="header-primary">
  <div class="pull-left">
    <h5>Kingston, RI &nbsp; July 29, 2018</h5>
  </div>
  <div class="pull-right">
    <h5 class="follow">Follow Us</h5>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/lifecycleinc" class="icon facebook social-item">Facebook</a></li>
      <li><a href="https://twitter.com/rrrhody" class="icon twitter social-item">Twitter</a></li>
      <li><a href="https://www.instagram.com/rideroundrhody/" class="icon instagram social-item">Instagram</a></li>
    </ul>
  </div>
</header>
<section class="hero">
  <div class="container section-content text-center">
    <h1 class="icon logo-rrrody">Ride &lsquo;Round Rhody</h1>
    <h2 class="title">Ride with us. Ride for LIFE.</h2>
    <h3 class="subtitle">Together we can cycle out cancer in Rhode Island and beyond.</h3>
    <button class="play-button"></button>
  </div>
</section>