
<section class="lifecycle"><img src="images/cyclist-riding.jpg" alt="cyclist riding along the road wearing a helmet and sunglasses" class="lifecycle-cyclist"/>
  <div class="container section-content text-center"><i class="icon logo-lifecycle">LIFEcycle</i>
    <h3 class="title">Cycling Out Cancer</h3>
    <p class="has-sibling">Whether you ride, volunteer along the route, or donate in support of a participant your contribution matters. There are opportunities for everyone and anyone to contribute in support of the LIFEcycle mission.</p><a href="http://lifecycleinc.org" class="button"><span>Learn about LIFEcycle</span></a>
  </div>
</section>