
<section class="testimonials">
  <div class="testimonial testimonial-media testimonial-full two-cyclists"></div>
  <div class="testimonial-split">
    <div class="testimonial testimonial-media cyclists-group"></div>
    <div class="testimonial testimonial-quote">
      <blockquote>
        <p>LIFEcycle has made it possible for us to perform clinical trials that have changed how cancer patients are treated, throughout the world. It’s great riding with members of the community who are helping RI stay at the forefront of cancer research and care.</p>
        <cite>Dr. Hoaward Safran</cite>
        <div class="quote-author img-clip"><img src="/images/dr-howard-safran.jpg" width="90" height="90"/></div>
      </blockquote>
    </div>
  </div>
  <div class="testimonial testimonial-media testimonial-full proud-cyclists"></div>
</section>