$color-primary = #c52127
$color-secondary = #1a2336
$color-text = #777777
$color-title = #333

$font-primary = 'raleway', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', helvetica, arial, sans-serif
$font-secondary = 'source-sans-pro', helvetica, arial, sans-serif

$font-thin = 100
$font-light = 300
$font-regular = 400
$font-bold = 700

$level-1 = 100
$level-2 = 200
$level-3 = 300

$max-width = 1800px

$screen-xlarge = 90.063em
$screen-large = 64.063em
$screen-medium = 48.000em
$screen = only screen

$spacing-micro = 5px
$spacing-small = 7px
$spacing-medium = 15px
$spacing-large = 24px
$spacing-xlarge = 30px
