section.agenda.container
  h3.title What You Can Expect at the RRRide

  .grid
    .grid-1-2
      .slat
        .slat-img.img-clip
          img(src="/images/agenda/multiple-routes.jpg", width="165", height="165")
        .slat-content
          h4 Ride Routes
          p Choose your distance for the day: 25 or 75 miles. Our routes take you along scenic tree-lined roads with gentle rolling hills, beginning and ending at the Farmer’s Daughter on RT. 138 in Kingston.
    .grid-1-2
      .slat
        .slat-img.img-clip
          img(src="/images/agenda/awesome-support.jpg", width="165", height="165")
        .slat-content
          h4 Rally Crew
          p Our Rally Crew will be stationed, and riding along the course to provide nutrition, first aid, mechanical support, and an emotional boost. They will be championing you along the way.
    .grid-1-2
      .slat
        .slat-img.img-clip
          img(src="/images/agenda/food-and-fun.jpg", width="165", height="165")
        .slat-content
          h4 Refreshments
          p We provide food and fun before, during, and after the ride. You’ll enjoy music and cheer at the finish line, so be sure to invite your friends and families to celebrate your accomplishment.
    .grid-1-2
      .slat
        .slat-img.img-clip
          img(src="/images/agenda/low-cost-entry-fee.jpg", width="165", height="165")
        .slat-content
          h4 Two Registration Options
          p Fundraising Cyclists: $25 registration, with $300 fundraising commitment ($35 after May 1); Contributing Cyclists: $200 registration, with no fundraising commitment ($225 After May 1)
