footer.footer
  .container.section-content.text-center
    i.icon.logo-rrrody Ride ‘Round Rhody
    h3.title Ride for LIFE!
    a.button(href='http://crowdrise.com/rrr16')
      span Register Now
    a.button(href='http://lifecycleinc.org/donate')
      span Donate Now

  .secondary-footer
    .pull-left
      small.copyright &copy; 2016 Ride &rsquo;Round Rhody. All rights reserved.
    .pull-right
      h5.follow Follow Us
      ul.social-links
        li
          a.icon.facebook.social-item(href='https://www.facebook.com/events/427463430791502/') Facebook
        li
          a.icon.twitter.social-item(href='https://twitter.com/rrrhody') Twitter
        li
          a.icon.instagram.social-item(href='https://www.instagram.com/rideroundrhody/') Instagram
