header.header-primary
  .pull-left
    h5 Kingston, RI &nbsp; July 29, 2018
  .pull-right
    h5.follow Follow Us
    ul.social-links
      li
        a.icon.facebook.social-item(href='https://www.facebook.com/lifecycleinc') Facebook
      li
        a.icon.twitter.social-item(href='https://twitter.com/rrrhody') Twitter
      li
        a.icon.instagram.social-item(href='https://www.instagram.com/rideroundrhody/') Instagram

section.hero
  .container.section-content.text-center
    h1.icon.logo-rrrody Ride &lsquo;Round Rhody
    h2.title Ride with us. Ride for LIFE.
    h3.subtitle Together we can cycle out cancer in Rhode Island and beyond.
    button.play-button
