section.intro.container
  h3.title
    small.subheading Ride&nbsp;&bull;&nbsp;Volunteer&nbsp;&bull;&nbsp;Donate
    | Ride &rsquo;Round Rhody 2016
  .grid
    .grid-1-2
      p Ride &rsquo;Round Rhody riders, volunteers and donors strive to directly impact our local community with energy, optimism and passion. We are driven to change the outcome of cancer for the people we share our lives with – our friends, family and neighbors.
    .grid-1-2
      p Together, we're making a difference through fundraising and providing support for cancer, which has become all too common in our community. Our 2016 event is approaching! Join us in contributing locally and trailblazing globally. Ride with us July 17!
