section.lifecycle
  img.lifecycle-cyclist(src='images/cyclist-riding.jpg', alt='cyclist riding along the road wearing a helmet and sunglasses')
  .container.section-content.text-center
    i.icon.logo-lifecycle Lifecycle
    h3.title Lifecycle Call Out
    p.has-sibling Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    a.button(href='http://lifecycle.org')
      span Learn about lifecycle
