section.lifecycle
  img.lifecycle-cyclist(src='images/cyclist-riding.jpg', alt='cyclist riding along the road wearing a helmet and sunglasses')
  .container.section-content.text-center
    i.icon.logo-lifecycle Lifecycle
    h3.title Cycling Out Cancer
    p.has-sibling Whether you ride, volunteer along the route, or donate in support of a participant your contribution matters. There are opportunities for everyone and anyone to contribute in support of the LIFEcycle mission.
    a.button(href='http://lifecycle.org')
      span Learn about lifecycle
