section.sponsors.text-center
  h5 Our Sponsors
  ul.sponsors-list
    li
      i.icon.dimeo Dimeo
    li
      i.icon.briarbriar Briar &amp; Briar
    li
      i.icon.northmain North Main Radiation Oncology
    li
      i.icon.mojotech MojoTech
