section.testimonials
  .testimonial.testimonial-media.testimonial-full.two-cyclists
  .testimonial-split
    .testimonial.testimonial-media.cyclists-group
    .testimonial.testimonial-quote
      blockquote
        p Praesent commodo cursus magna, vel scelerisque  consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringillaetres fouser.
        cite Dr. Hoaward Safran
        .quote-author.img-clip
          img(src="/images/dr-howard-safran.jpg", width="90", height="90")
  .testimonial.testimonial-media.testimonial-full.proud-cyclists
