section.testimonials
  .testimonial.testimonial-media.testimonial-full.two-cyclists
  .testimonial-split
    .testimonial.testimonial-media.cyclists-group
    .testimonial.testimonial-quote
      blockquote
        p LIFEcycle has made it possible for us to perform clinical trials that have changed how cancer patients are treated, throughout the world. It’s great riding with members of the community who are helping RI stay at the forefront of cancer research and care.
        cite Dr. Hoaward Safran
        .quote-author.img-clip
          img(src="/images/dr-howard-safran.jpg", width="90", height="90")
  .testimonial.testimonial-media.testimonial-full.proud-cyclists
