section.testimonials
  .testimonial.testimonial-media.testimonial-full.two-cyclists
  .testimonial-split
    .testimonial.testimonial-media.cyclists-group
    .testimonial.testimonial-quote
      .quote-container
        .quote
          blockquote
            p LIFEcycle has made it possible for us to perform clinical trials that have changed how cancer patients are treated, throughout the world.
            cite Dr. Hoaward Safran
            .quote-author.img-clip
              img(src="/images/dr-howard-safran.jpg", width="60", height="60")

        .quote
          blockquote
            p LIFEcycle has made it possible for us to perform clinical trials that have changed how cancer patients are treated, throughout the world.
            cite Dr. Quote 2
            .quote-author.img-clip
              img(src="/images/dr-howard-safran.jpg", width="60", height="60")

        .quote
          blockquote
            p LIFEcycle has made it possible for us to perform clinical trials that have changed how cancer patients are treated, throughout the world.
            cite Dr. Quote 3
            .quote-author.img-clip
              img(src="/images/dr-howard-safran.jpg", width="60", height="60")  
      .slide-buttons

  .testimonial.testimonial-media.testimonial-full.proud-cyclists
