doctype html
html(itemscope='', itemtype='http://schema.org/WebPage', lang='en')
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')

    meta(name='description', content='LIFEcycle hosts events that promote healthy, active living and raise funds to support local cancer treatment.')
    meta(name='author', content= "MojoTech")
    link(rel='canonical', href='http://www.rrrhody.org/')
    meta(property='og:site_name', content='Ride ‘Round Rhody')
    meta(property='og:title', content='Home')
    meta(property='og:url', content='http://www.rrrhody.org/')
    meta(property='og:type', content='website')
    meta(itemprop='name', content='Home')
    meta(itemprop='url', content='http://www.rrrhody.org/')
    meta(name='twitter:title', content='Home')
    meta(name='twitter:url', content='http://www.rrrhody.org/')
    meta(name='twitter:card', content='summary')

    link(type='text/css', rel='stylesheet', href='css/styles.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    title Ride &rsquo;Round Rhody
  body
    section.pane.column
      .image.left
      header.content
        include _svg-lifecycle
        p.copy
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Volup tatibus quae atque ipsum hic architecto rem, iure inventore cum.
        a.btn.btn-primary(href='http://www.lifecycleinc.org') Visit the Charity Page

    section.pane.column
      .image.right
      header.content
        include _svg-rrrhody
        p.copy
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus minima repellat volup tatum quia. Debitis distinctio sint voluptate.
        a.btn.btn-secondary(href='http://www.eidentracing.com/#!our-races/c1bfn') Visit the Event Page

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/app.js')
