extends layout

block content
  include partials/hero
  include partials/intro
  include partials/lifecycle
  include partials/testimonials
  include partials/agenda
  include partials/twitter
  include partials/sponsors
  include partials/footer
