extends layout

block content
  include home/hero
  include home/intro
  include home/lifecycle
  include home/testimonials
  include home/agenda
  include home/twitter
  include home/sponsors
  include home/footer
