doctype html
html.no-js(lang='en', itemscope='', itemtype='http://schema.org/WebPage')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Ride &rsquo;Round Rhody
    meta(name='author', content= 'LIFEcycle')
    meta(name='description', content='Ride ‘Round Rhody is a bike-a-thon run by LIFEcycle, Inc, a Rhode Island non-profit that promotes healthy, active living and supports local cancer treatment.')
    link(rel='canonical', href='http://www.rrrhody.org/')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    meta(property='og:site_name', content='Ride ‘Round Rhody')
    meta(property='og:url', content='http://www.rrrhody.org/')
    meta(name='twitter:site', content='@RRRhody')
    meta(name='twitter:card', content='Ride ‘Round Rhody is a bike-a-thon run by LIFEcycle, Inc, a Rhode Island non-profit that promotes healthy, active living and supports local cancer treatment.')
    link(rel='stylesheet', href='css/main.css?v=#{Date.now()}')
    script(src='https://use.typekit.net/juh4yhi.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body
    main
      block content

    script(src='js/vendor.js?v=#{Date.now()}')
    script(src='js/main.js?v=#{Date.now()}')
