$color-primary= #070505
$color-secondary= #c62228

$font-primary= "Montserrat", Helvetica, Arial, sans-serif

 //define default values (best to put this in the default.styl file)
 base-font-size = 16
 base-line-height = 24

 //This is the useful part: it compares the given value to the base values and calculates the correct output
 font-size($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
   font-size   $fontValue px
   font-size   ($fontValue / $baseFontValue) rem
