section.agenda.container
  h3.title What You Can Expect at the RRRide

  .grid
    .grid-1-2
      .slat
        .slat-img
          img(src="/images/agenda/multiple-routes.jpg", width="165", height="165")
        .slat-content
          h4 Multiple Routes
          p Ride 25 or 75 miles through beautiful southern Rhode Island along tree-line roads with gentle rolling hills. You can choose which distance that day!
    .grid-1-2
      .slat
        .slat-img
          img(src="/images/agenda/awesome-support.jpg", width="165", height="165")
        .slat-content
          h4 Awesome Support
          p People will be stationed and riding along the course to provide nutrition, first-aid, mechanical support, and an emotional boost! Our volunteers are the best!
    .grid-1-2
      .slat
        .slat-img
          img(src="/images/agenda/food-and-fun.jpg", width="165", height="165")
        .slat-content
          h4 Food &amp; Fun
          p We provide food before, during, and after the ride. There will be music and celebrating at the finish line, and we encourage families to join the celebration!
    .grid-1-2
      .slat
        .slat-img
          img(src="/images/agenda/low-cost-entry-fee.jpg", width="165", height="165")
        .slat-content
          h4 Low-Cost Entry Fee
          p Fundraising Cyclists register for $25 and agree to raise $300. Contributing Cyclists register for $200 and don’t have a fundraising requirement.
