header.header-primary
  .pull-left
    h5 Kingston, RI &nbsp; July 17, 2016
  .pull-right
    h5.follow Follow Us
    ul.social-links
      li
        a.icon.facebook.social-item(href='http://facebook.com') Facebook
      li
        a.icon.twitter.social-item(href='http://twitter.com') Twitter
      li
        a.icon.instagram.social-item(href='http://instagram.com') Instagram

section.hero
  .container.section-content.text-center
    h1.icon.logo-rrrody Ride ‘Round Rhody
    h2.title Join the RRRide of the Year
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus culpa libero autem minima distinctio voluptates odio, officia tempora expedita doloremque animi, labore, eos dolorem sunt nobis ullam fugiat aperiam vero?
    button.play-button
