section.intro.container
  h3.title
    small.subheading Ride&nbsp;&bull;&nbsp;Volunteer&nbsp;&bull;&nbsp;Donate
    | General Ride Round Rhody Description
  .grid
    .grid-1-2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugit odit eligendi optio deserunt quia fuga soluta molestiae. Quia blanditiis voluptates nesciunt quasi voluptate similique iusto molestias accusamus culpa, voluptatum!
    .grid-1-2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugit odit eligendi optio deserunt quia fuga soluta molestiae. Quia blanditiis voluptates nesciunt quasi voluptate similique iusto molestias accusamus culpa, voluptatum!
