section.lifecycle
  .container.text-center
    h3.title Lifecycle Call Out
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa consequatur temporibus quae ad hic accusamus a officia harum facere nulla odit dignissimos praesentium fuga vitae numquam eveniet, voluptates accusantium autem!
    a.button(href='http://lifecycle.org')
      span Learn about lifecycle
