$transition = all .3s ease;

.tweets
  clearfix()

.tweet
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border: none
  float: left
  overflow: hidden
  padding-bottom: 25%
  position: relative
  transition: $transition

  &:hover .tweet-wrap
    opacity: 1

  .tweet-wrap
    background-color: rgba($color-primary, 0.75)
    bottom: 0
    left: 0
    opacity: 0
    padding: $spacing-small * 2
    position: absolute
    right: 0
    top: 0
    transition: $transition

  .social-handle,
  .social-text
    color: white
    left: 50%
    position: absolute
    top: 50%
    transform: scale(1.5) translate3d(-50%,-50%,0)
    transition: opacity 0.2s, transform 0.35s

  .social-handle
    font-weight: bold
    margin-bottom: $spacing-medium
