h1, h2, h3
  font-family: $font-primary
  font-weight: $font-thin

h4, h5, h6
  font-weight: $font-bold
  letter-spacing: 2px
  text-transform: uppercase

h4
  color: $color-title
  font-size: 22px
  margin-bottom: $spacing-medium

h5
  font-size: 18px

.subheading
  color: $color-primary
  display: block
  font-family: $font-secondary
  font-size: 14px
  font-weight: $font-bold
  letter-spacing: 2px
  margin: 0
  padding: 0
  text-align: center
  text-transform: uppercase

.title
  display: block
  font-size: 50px
  line-height: 50px
  margin: 0 0 20px
  padding: 0
  text-align: center
  word-wrap: normal

.text-center
  text-align: center

p
  font-size: 18px
  line-height: 26px
