.agenda
  margin-top: $spacing-xlarge * 4
  max-width: 1100px
  padding: 0 $spacing-medium
  .grid
    margin-top: $spacing-xlarge * 2
  .grid-1-2
    &:nth-child(odd)
      padding-right: $spacing-xlarge

    &:nth-child(even)
     padding-left: $spacing-xlarge

    &:nth-child(3)
      clear: left

  @media(max-width: $screen-medium)
    .grid-1-2
      height: auto
      width: 100%
      &:nth-child(odd)
        padding-right: 0
      &:nth-child(even)
        padding-left: 0

  .slat
    margin-bottom: $spacing-xlarge * 3

  .slat-img
    height: 165px
    width: 165px
    @media(max-width: $screen-medium)
      float: none
      height: 90px
      margin: 0 auto
      width: 90px
      img
        height: 90px
        width: 90px

  .slat-content
    @media(max-width: $screen-medium)
      display: block
      float: none
      margin: 0 auto
      text-align: center
      width: 90%
