.agenda
  margin-top: $spacing-xlarge * 2
  max-width: 1100px

  .grid
    margin: $spacing-xlarge * 2 0

  .grid-1-2
    &:nth-child(odd)
      padding-right: $spacing-xlarge

    &:nth-child(even)
      padding-left: $spacing-xlarge

  .slat
    margin-bottom: $spacing-xlarge * 3
