*,
*:before,
*:after
  box-sizing: inherit
  position: relative

html,
body
  height: 100%
  width: 100%

html
  box-sizing: border-box

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background: #f0f0f0
  color: $color-text
  font-family: $font-secondary
  font-smoothing: always
  text-rendering: optimizeLegibility
  font-weight: $font-regular

button
  background: none
  border: none

.section-content
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%) scale(1.01)
  width: 100%
  z-index: $level-1

.icon
  overflow: hidden
  text-indent: 100%
  white-space: nowrap

.img-clip
  border-radius: 50%
  height: 90px
  overflow: hidden
  width: 90px

.main-container
  background: white
  margin: 0 auto
  max-width: $max-width
  min-width: 768px

.intro
  padding: 0 $spacing-medium
