*,
*:before,
*:after
  box-sizing: inherit
  position: relative

html,
body,
main
  height: 100%
  width: 100%

html
  box-sizing: border-box

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  color: $color-text
  font-family: $font-secondary
  font-smoothing: always
  text-rendering: optimizeLegibility
  font-weight: $font-regular
