*,
*:before,
*:after
  box-sizing: inherit
  position: relative

html,
body,
main
  height: 100%
  width: 100%

html
  box-sizing: border-box

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  color: $color-text
  font-family: $font-secondary
  font-smoothing: always
  text-rendering: optimizeLegibility
  font-weight: $font-regular

button
  background: none
  border: none

.section-content
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%) scale(1.01)
  z-index: $level-1

.icon
  overflow: hidden
  text-indent: 100%
  white-space: nowrap

.img-clip
  border-radius: 50%
  height: 90px
  overflow: hidden
  width: 90px
