$header-height = 80px

.header-primary
  color: white
  height: $header-height
  padding: $spacing-medium $spacing-large
  z-index: $level-2
  @media(max-width: $screen-medium)
    padding: 0
  clearfix()

  .pull-left
    @media(max-width: $screen-medium)
      text-align: center
      width: 100%

  .pull-right
    @media(max-width: $screen-medium)
      display: none

  .follow
    color: $color-primary
    display: inline-block

.social-links
  display: inline-block
  list-style: none
  margin: 0
  padding: 0
  li
    display: inline-block

.social-item
  margin-left: $spacing-medium
  overflow: hidden
  text-indent: 100%
  top: -3px
  vertical-align: middle
  white-space: nowrap

.hero
  background-attachment: scroll
  background-color: $color-secondary
  background-image: url(../images/cyclists-racing-down-road.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  color: white
  height: 90vh
  margin: - ($header-height) 0 70px
  min-height: 575px
  width: 100%
  @media(min-width: 1000px)
    height: 100vh
  @media screen and (orientation: landscape)
    min-height: 475px

  .section-content
    @media(max-width: $screen-medium)
      padding: 20px

  &:after
    background-image: url('../images/texture-hero.png')
    background-position: center bottom
    background-repeat: repeat-x
    background-size: 2000px 100px
    bottom: - $spacing-micro
    content: ''
    height: 140px
    left: 0
    position: absolute
    width: 100%
    z-index: $level-2

  .logo-rrrody
    margin-bottom: 40px

  .title
    font-weight: $font-light

  .subtitle
    font-size: 22px
    font-weight: $font-light

@keyframes pulse
  0%, 20%, 40%, 100%
    transform: scale(1)
  30%
    transform: scale(1.1)

.play-button
  animation: 5s pulse infinite cubic-bezier(.645, .045, .355, 1)
  cursor: pointer
  margin-top: $spacing-medium
  sprite(play-button)
  z-index: $level-2
