.lifecycle
  margin-top: $spacing-xlarge

  .container
    max-width: 480px

.logo-lifecycle
  margin-bottom: $spacing-medium
  sprite(logo-lifecycle)

.lifecycle-cyclist
  height: auto
  width: 100%
