.lifecycle
  margin-top: $spacing-xlarge
  @media(max-width: $screen-medium)
    float: none
    height: 500px
    margin: 0 auto
    margin-top: 30px
    width: 90%

  .container
    max-width: 480px

  .logo-lifecycle
    margin-bottom: $spacing-medium

.lifecycle-cyclist
  display: block
  height: auto
  width: 100%
  @media(max-width: $screen-medium)
    display: none
