.sponsors
  margin: 80px $spacing-large

.sponsors-list
  display: inline-block
  list-style: none
  margin: $spacing-medium 0 0
  padding: 0
  width: 100%
  li
    display: inline-block
    margin-right: 7%
    &:last-child
      margin-right: 0

  .dimeo
    sprite(logo-dimeo)

  .briarbriar
    sprite(logo-briarbriar)

  .northmain
    sprite(logo-nmro)

  .mojotech
    sprite(logo-mojotech)
