.testimonials
  display: flex
  flex-direction: row
  margin-top: $spacing-large
  @media(max-width: $screen-medium)
    display: block
    margin-top: 0

.testimonial,
.testimonial-split
  flex: 1

.testimonial-full
  min-height: 800px
  @media(max-width: $screen-medium)
    display: none

.testimonial-split
  display: flex
  flex-direction: column

  .testimonial
    margin: 0 $spacing-large
    min-height: 400px

  .testimonial-media
    margin-bottom: ($spacing-large / 2)

  .testimonial-quote
    margin-bottom: ($spacing-large / 2)
    margin-top: ($spacing-large / 2)

.testimonial-media
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.two-cyclists
  background-image: url(../images/two-cyclists@2x.jpg)

.cyclists-group
  background-image: url(../images/cyclists-group@2x.jpg)
  @media(max-width: $screen-medium)
    background-image:url(../images/cyclist-riding.jpg)
    background-position: left

.proud-cyclists
  background-image: url(../images/proud-riders@2x.jpg)

.testimonial-quote
  box-shadow: 2px 3px 16px rgba(0, 0, 0, .20)
  overflow: hidden
  padding: $spacing-large * 2
  text-align: center

  blockquote
    align-items: center
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    margin: 0
    padding: 0
    width: 100%

  p
    margin-top: 0

  .quote-author
    height: 60px
    margin: $spacing-medium auto 0 auto
    width: 60px

.quote-container
  min-height: 350px
  width: 100%

  .quote
    display: none
    height: 100%
    position: absolute
    width: 100%

  .quote:first-child
    display: block

.slide-buttons
  align-items: center
  bottom: 0
  display: flex
  justify-content: center
  height: 10px
  left: 0
  width: 100%

  .slide-btn
    color: #d2d4db
    font-size: 40px
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)

  .slide-btn:focus
    color: $color-primary
